h1{
    color:violet
}
.Camel{
    border:bold
}
.Camel{
    color:indigo
}
.Chameleon{
    color:iblue
}
.Pigeon{
    color:green
}
.TeddyBear{
    color:yellow
}
.Panda{
    color:orange
}
.FlyingCicada{
    color:red
}