h1{
    color:violet
}
.Camel{
    color:indigo;
    text-align: center
}
.Chameleon{
    color:blue;
    text-align: center
}
.Pigeon{
    color:green;
    text-align: center
}
.TeddyBear{
    color:yellow;
    text-align: center
}
.Panda{
    color:orange;
    text-align: center
}
.FlyingCicada{
    color:red;
    text-align: center
}
.Origami{
background-color:lemonchiffon;
border:blanchedalmond
}